<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.urbookproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".MyAppUserData"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name=".CaptureBarcode"
            android:label="@string/title_activity_capture_barcode" >
        </activity>
        <activity
            android:name=".ManualSearch"
            android:label="@string/title_activity_manual_search" >
        </activity>
        <activity
            android:name=".SearchResults"
            android:label="@string/title_activity_search_results" >
        </activity>
        <activity
            android:name=".InsertBook"
            android:label="@string/title_activity_insert_book" >
        </activity>
        <activity
            android:name=".MyAccount"
            android:label="@string/title_activity_my_account" >
        </activity>
        <activity
            android:name=".ChangeMyAccount"
            android:label="Change Account Info" >
        </activity>
        <activity
            android:name=".ChangeMyAccountPassword"
            android:label="Change Password" >
        </activity>
        <activity
            android:name=".WantedList"
            android:label="@string/title_activity_wanted_list" >
        </activity>
        <activity
            android:name=".OwnedList"
            android:label="@string/title_activity_owned_list" >
        </activity>
        <activity
            android:name=".BookMatching"
            android:label="Book Matching" >
        </activity>
        <activity
            android:name=".MatchedUserInformation"
            android:label="@string/title_activity_matched_user_information" >
        </activity>
        <activity
            android:name=".MatchedUserAccount"
            android:label="@string/title_activity_matched_user_account" >
        </activity>
    </application>

</manifest>